@mixin ellipsis($values) {
  @each $value in $values {
    .ellipse-#{$value} {
      width: #{$value}px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@mixin break-word($values) {
  @each $value in $values {
    .break-word-#{$value} {
      width: #{$value}px;
      max-width: #{$value}px;
      word-wrap: break-word;
    }
  }
}

@mixin text-size($values) {
  @each $value in $values {
    .text-size-#{$value} {
      font-size: #{$value}px;
    }
  }
}
